/* Presented by: Donald Moody */

body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption




{
  margin: 0;
  padding: 0;
  border: 0;
}


body




{
  background-color: #f6eee4;
}




img




{
  max-width: 100%;
  display: block;
}


.skip {
   position: absolute;
   left: -999px;
}


.skip:focus {
   color: #fff;
   background-color: #2a1f14;
   text-decoration: none;
   padding: 0.5%;
   top: auto;
   left: auto;
   right: 1px;
   z-index: 1;
}


.social img {
   display: inline-block;
   padding: 4%;
}




.mobile {
   display: block;
}


.tab-desk {
   display: none;
}


.mobile h1 {
   font-family: 'Emblema One', cursive;
}


.mobile h3 {
   font-family: 'Lora', serif;
}






.mobile h1 {
   padding: 2%;
   text-align: center;
}


.mobile h3 {
   padding: 2%;
   text-align: center;
   font-family: "Emblema One", system-ui;
   font-weight: 400;
   font-style: normal;
}


nav




{
  background-color: #2a1f14;
}


#nav-links, .tab-desk, .desktop {
 display: none;
}




.mobile-nav a {
   color: #fff;
   text-align: center;
   font-size: 2em;
   text-decoration: none;
   padding: 3%;
   display: block;
}


.mobile-nav a.nav-icon {
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   color: #f6eee4;
   padding: 2%;
}


.nav-icon div {
   height: 40px;
   width: 40px;
   color: #2a1f14;
}


nav ul




{
  list-style-type: none;
  text-align: center;
}




nav li
{
  display: inline-block;
  font-size: 1.25em;
}




nav li a


{
  padding: 0.5em;
}


main


{
  padding: 2%;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: normal;
}




main p




{
  font-size: 1.25em;
}




main h3




{
  padding-top: 2%;
}


main ul
{
   list-style-type: square;
}


.link
{
 color: #4d3319;
 text-decoration: none;
 font-weight: bold;
 font-style: italic;
}


.action
{
 font-size: 1.75em;
 font-weight: bold;
 text-align: center;
}


.round
{
  border-radius: 6px;
}


aside
{
  text-align: center;
   font-size: 1.5em;
   font-weight: bold;
   text-shadow: 4px 4px 10px #c5a687;
}


figure {
   border: 4px solid #2a1f14;
   box-shadow: 6px 6px 10px #c5a687;
   max-width: 400px;
   margin: 2% auto;
}


figcaption {
   padding: 2%;
   border-top: 4px solid #2a1f14;
}


#info ul {
 margin-left: 10%;
}


#contact
{
 text-align: center;
}


.tel-link {
 background-color: #2a1f44;
 padding: 2%;
 width: 80%;
 margin: 0 auto;
}


.tel-link a
{
 color: #f6eee4;
 text-decoration: none;
 font-weight: bold;
}


footer




{
  text-align: center;
  font-size: 0.85em;
  background-color: #2a1f14;
  color: #f6eee4;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 0%;
  padding-left: 0%;
}




footer a




{
  color: #f6eee4;
  text-decoration: none;
}




#answer1, #answer2, #answer3, #answer4 {
 display: none;
}


@media screen and (min-width: 481px), print {


  .mobile-nav {
 display: none;
  }


  form {
     width: 70%;
     margin: 0 auto;
  }
footer {
   overflow: auto;
}


.copyright {
   float: left;
   width: 65%;
}


.social {
   float: right;
   width: 25%;
}
  .tab-desk {
     display: block;
  }


  table {
     border: 1px solid #2a1f14;
     border-collapse: collapse;
     margin: zero auto;
  }
  caption {
     font-size: 1.5em;
     font-weight: bold;
     padding: 1%;
  }
  th, td {
     border: 1px solid #2a1f14;
     padding: 1%
  }
  th {
     background-color: #2a1f14;
     color: #fff;
     font-size: 1.15em;
  }
  tr:nth-of-type(odd){
     background-color: #deccba;
  }
  .mobile {
     display: none;
  }
   .grid {
       display: grid;
       grid-template-columns: auto auto;
       grid-gap: 10px;
   }
   aside {
       grid-column: 1 / span 2;
   }
}
@media screen and (min-width: 1921px), print {


body {
  background: linear-gradient(#f6eee4, #78593a);
}
#wrapper {
  width: 1920px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
main {
  background-color: #f6eee4;
}


.grid {
       grid-template-columns: auto auto auto;
       grid-gap: 30px;
   }
aside{
  grid-column: 1 / span 4;
  font-size: 3em;
}
}
@media screen and (min-width: 1000px), print {
.desktop {
   display: block;
 }


 .mobile-tablet {
   display: none;
 }
#info ul {
margin-left: 5%;
}
nav
{
  background-color: #2a1f14;
}
nav ul
{
  list-style-type: none;
  text-align: center;
}
nav li
{
  font-size: 1.5em;
}
nav li a
{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
nav li a:hover
{
  color: #2a1f14;
  background-color: #f6eee4;
}
nav li a:hover
{
  opacity: 0.5;
}
.grid
{
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}
aside
{
  grid-column: 1 / span 3;
  font-size: 2em;
}
form {
  width: auto;
}
}
